<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/DashCadastro.css" />
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="JS/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="JS/bootstrap-5.0.0-beta1-dist/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="JS/fontawesome-free-5.15.1-web/css/all.css" />
    <script src="JS/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.js"></script>
    <title>Criar Conta</title>
  </head>
  <body>
    <div class="fundo">
      <div class="frontPanel">

        <hr> <br> <div class="cabecalho">
            <h3>Criar Conta</h3>
            <div class="barraprogresso">
                <div class="bolha"><i class="fa fa-user"></i></div>
                <div class="passo"><h5>Dados Pessoais</h5></div>
                <div class="bolha"><i class="fa fa-money-bill"></i></div>
                <div class="passo"><h5>Dados Bancários</h5></div>
                <div class="bolha"><i class="fa fa-id-card"></i></div>
                <div class="passo"><h5> Tipo de Serviço</h5></div>
                <div class="bolha"><i class="fa fa-file-contract"></i></div>
                <div class="passo"><h5> Contrato</h5></div>
                <div class="bolha"><i class="fa fa-check"></i></div>

            </div> 
        </div> <hr> <br>
        <form>
            
            <!-- Dados Pessoais -->
            <div class="form">
                <div>
                    <label for="fname">Nome Completo</label>
                    <input
                        type="text"
                        id="Nome"
                        name="firstname"
                        placeholder="Nome Completo"
                        required
                    />
    
                    <label for="lname">Data de Nascimento</label>
                    <input
                        type="date"
                        id="DataNascimento"
                        name="lastname"
                        required
                    />
                    <br>
                    <label for="fname">Bilhete de Identidade</label>
                    <input
                        type="text"
                        id="BI"
                        name="BI"
                        placeholder="Nº do BI"
                        required
                    />
    
                    <label for="lname">Estado Civíl</label>
                    <input
                        type="text"
                        id="EstadoCivil"
                        name="lastname"
                        placeholder="Estado Civíl"
                        required
                    />
    
                    <label for="Sexo">Sexo</label>
                    <select id="Sexo" name="Sexo" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </div>
                <div>
                    <label for="Telefone">Número(s) de Telefone</label>
                    <input
                        type="number"
                        id="Telefone"
                        name="Telefone"
                        placeholder="Ex. 924 377 250"
                        required
                    />
                    <label for="Email">Email</label>
                    <input
                        type="email"
                        id="Email"
                        name="Email"
                        placeholder="meuemail@gmail.com"
                        required
                    />
    
                    <label for="Morada">Morada</label>
                    <input
                        type="text"
                        id="Morada"
                        name="Morada"
                        placeholder="Minha Morada"
                        required
                    />
    
                    <label for="Provincia">Província</label>
                    <select id="Provincia" name="Provincia" required>
                        <option value="Luanda">Luanda</option>
                        <option value="Benguela">Benguela</option>
                        <option value="Kwanza Norte">Kwanza Norte</option>
                    </select> 
                    <input type="button" value="Próximo Passo" id="btnProximo" onclick="InsereDadosPessoais()"  />
    
                </div>
            </div>
            
            <!-- Dados Bancários -->
            <div class="form">
                <div>
                    <label for="Banco">Entidade Bancária</label>
                    <select id="Banco" name="country">
                        <option value="BIC">BIC</option>
                        <option value="BFA">BFA</option>
                    </select>
                    <label for="Titular">Nome do Titular</label>
                    <input
                        type="text"
                        id="Titular"
                        name="Titular"
                        placeholder="Nome do Titular"
                    />
    
                    <label for="Conta">Nº da Conta</label>
                    <input
                        type="number"
                        id="Conta"
                        name="Conta"
                    />
                    <br>
                    <label for="IBAN">IBAN (International Bank Account number)</label>
                    <input
                        type="text"
                        id="IBAN"
                        name="IBAN"
                        placeholder="IBAN"
                    />
                       
                </div>
                <div>
                    <label for="Doc_BI">Bilhete de Identidade</label>
                    <input
                        type="file"
                        id="Doc_BI"
                        name="Doc_BI"
                        placeholder="Documento de Identidade"
                    />
                    <label for="Doc_Conta">Documento de dados da Conta</label>
                    <input
                        type="file"
                        id="Doc_Conta"
                        name="Doc_Conta"
                        placeholder=""
                    />
    
                    <label for="Doc_Photo">Fotografia</label>
                    <input
                        type="file"
                        id="Doc_Photo"
                        name="Doc_Photo"
                        placeholder=""
                    />
    
                    <input type="button" value="Próximo Passo" id="btnProximo" onclick="InsereDadosBancarios()" />
    
                </div>
            </div>

            <!-- Tipo de Serviço -->
            <div class="form">
                <div>
                    <h3> <b>Comissão</b> </h3>
                    <p>
                        Na Comissão para cada venda efectuada será descontada uma taxa percentual 
                        de serviço. Essa taxa pode variar de acordo com o tipo de artigo que estiver
                        a ser vendido. <br>
                        <b>Dinheiro Recebido = Preço da Venda (AOA) - Taxa de Serviço (%)</b>.
                    </p>
                    <video controls>
                        <source src="./Video/Cypher_Afro_dance.mp4" 
                        type="video/mp4">
                    </video>
                    <input type="button" value="Pagamento por Comissão" id="btnProximo"  />
                    
                </div>
                <div>
                    <h3><b>Subscrição</b></h3>
                    <p>
                        Na Subscrição <b> terá de pagar previamente para reservar um espaço no nosso estabelecimento </b>
                        para armazenarmos o seu artigo <b> durante um período de tempo </b>. Preço varia de acordo com o 
                        tamanho e peso do artigo bem como o tempo da reserva. Após a venda não será descontada 
                        nenhuma comissão.
                    </p>
                    <video controls>
                        <source src="./Video/Cypher_Afro_dance.mp4" 
                        type="video/mp4">
                    </video>

                    <input type="button" value="Pagamento por Subscrição" id="btnProximo"  />

                </div>
            </div>


        </form>
      </div>
    </div>
  </body>


  <!-- Load -->
  <script>
      window.onload = () => {
        trocaForm(1)
      }
  </script>
  <!-- Troca Formulários -->
  <script>

      var trocaForm = (index) => {
        const forms = document.querySelectorAll(".form")
        const bolhas = document.querySelectorAll(".bolha")
        const passo = document.querySelectorAll(".passo")

        forms.forEach(form => {
            form.style.display = "none"
        });

        bolhas[index].children[0].style.color = "rgb(21, 146, 230)"

        bolhas[index].style.borderColor = "rgb(21, 146, 230)"
        passo[index].style.borderBottomColor = "rgb(21, 146, 230)"
        forms[index].style.display = "flex"
      }

</script>

<!-- Insere Dados Pessoais do Usuário -->
<script>

    function InsereDadosPessoais(){
  
      const Nome = document.getElementById("Nome").value
      const DataNascimento = document.getElementById("DataNascimento").value
      const EstadoCivil = document.getElementById("EstadoCivil").value
      const Sexo = document.getElementById("Sexo").value
      const BI = document.getElementById("BI").value
      const Telefone = document.getElementById("Telefone").value
      const Email = document.getElementById("Email").value
      const Morada = document.getElementById("Morada").value
      const Provincia = document.getElementById("Provincia").value
      
      var xmlhttp = new XMLHttpRequest();
  
      let url = "/NetCommerce/Model/SalvaUser.php?Nome=" + Nome
                                                 + "&DataNascimento=" + DataNascimento
                                                 + "&EstadoCivil=" + EstadoCivil
                                                 + "&Sexo=" + Sexo
                                                 + "&BI=" + BI
                                                 + "&Telefone=" + DataNascimento
                                                 + "&Email=" + Email
                                                 + "&Morada=" + Morada
                                                 + "&Provincia=" + Provincia
      xmlhttp.open('GET', url, true);
      xmlhttp.send();
      xmlhttp.onreadystatechange = () => {
          if (xmlhttp.readyState == 4) // Return Request
          {
              alert(xmlhttp.response)
              if(xmlhttp.response != "try again"){
                  trocaForm(1)
              }
              
          }
      }
  
    }
  
  </script>

  <!-- Insere Dados Bancário do Usuário -->
<script>

    function InsereDadosBancarios(){
  
      const Banco = document.getElementById("Banco").value
      const Titular = document.getElementById("Titular").value
      const Conta = document.getElementById("Conta").value
      const IBAN = document.getElementById("IBAN").value
      const Doc_BI = document.getElementById("Doc_BI").value
      const Doc_Conta = document.getElementById("Doc_Conta").value
      const Doc_Photo = document.getElementById("Doc_Photo").value
      
      var xmlhttp = new XMLHttpRequest();
  
      let url = "/NetCommerce/Model/SalvaDadosBancarios.php?Banco=" + Banco
                                                 + "&Titular=" + Titular
                                                 + "&Conta=" + Conta
                                                 + "&IBAN=" + IBAN
                                                 + "&Doc_BI=" + Doc_BI
                                                 + "&Doc_Conta=" + Doc_Conta
                                                 + "&Doc_Photo=" + Doc_Photo
      xmlhttp.open('GET', url, true);
      xmlhttp.send();
      xmlhttp.onreadystatechange = () => {
          if (xmlhttp.readyState == 4) // Return Request
          {
              alert(xmlhttp.response)
              if(xmlhttp.response != "try again"){
                  trocaForm(2)
              }
              
          }
      }
      trocaForm(2)
    }
  
  </script>


</html>
