

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/NetCommerce/View/css/Termos.css">
    <title>NetCommerce - Termos de Utilização</title>
</head>
<body>
    <h1>Termos de Utilização do Sistema NetCommerce</h1> <hr> <br> <br>
    <div class="pagina">
        <h3>Modo de uso</h3> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!
        </p> <br>
        <h3>Regras gerais</h3> <br>
        <p>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                <li>Delectus minima non natus quaerat eligendi. Voluptates</li>
                <li>vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, </li>
                <li>Delectus minima non natus quaerat eligendi. Voluptates</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                <li>ab sint aliquid molestias sequi deleniti nobis</li>
            </ol>
        </p> <br>
        <h3>Pagamentos</h3> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!
        </p> <br>
        <h3>Entregas</h3> <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Delectus minima non natus quaerat eligendi. Voluptates 
            vero obcaecati, nesciunt dicta sapiente est culpa laboriosam, 
            ab sint aliquid molestias sequi deleniti nobis!
        </p>
    </div>
</body>
</html>